<!DOCTYPE html>
<html>
    <head>
        <title>Detalle de Usuario</title>
    </head>
    <body>
        <div class="container">
            <h3><a href="/productos">Lista de Usuarios</a></h3>
            <h1>Detalle de Usuario</h1>
            <table>
                <tbody>
                    <tr>
                        <td>Nombre</td>
                        <td>{{ usuario.nombre }}</td>
                    </tr>
                    <tr>
                        <td>Apellidos</td>
                        <td>{{ usuario.apellido }}</td>
                    </tr>
                    <tr>
                        <td>Edad</td>
                        <td>{{ usuario.edad }}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>{{ usuario.email }}</td>
                    </tr>
                    <tr>
                        <td>Estado</td>
                        <td>{{ usuario.estado }}</td>
                    </tr>
                    <tr>
                        <td>N° Hijos</td>
                        <td>{{ usuario.numhijos }}</td>
                    </tr>
                </tbody>
            </table>
            <h3><a href="/productos/edit/{{ producto._id }}">EDIT</a></h3>
            <form action="/productos/delete/{{ producto._id }}" method="post">
                <button type="submit">DELETE</button>
            </form>
        </div>
    </body>
</html>
